@import "variables";
@import "front-page";
@import "header";
@import "footer";
@import "tiles";
@import "front-page-sliders";
@import "about-slider";

.container {
  max-width: 1400px;
  padding-top: 0;
}

.first--content {
  padding-top: 60px;
}

* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

//body #wpadminbar{top: -50px;}

a:hover {
  color: $font-color;
}

@media all and (max-width : 768px) {

  footer, header {
    width: 100vw;
  }
}